.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .card-custom {
    background-color: #D9E7E9 !important;
    overflow-x: auto;
  }
  
  .card-image figure {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-image figure img {
    max-width: 70px;
    height: auto;
  }
  
  .custom-column {
    width: 70%;
    margin: 0 auto;
  }
  
  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 80vh;
    padding: 10px;
  }
  
  .background-image,
  .background-image-top,
  .background-image-top-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .background-image-top,
  .background-image-top-right {
    height: auto;
    max-height: 50vh;
    object-fit: cover;
  }
  
  .background-image-top-right {
    right: 0;
    left: auto;
  }
  
  .full-height {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .full-height .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .title-no-1 {
    font-size: 4rem;
    font-weight: bold;
    color: #187078;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
  }

  .title-no-2 {
    font-size: 4rem;
    color: #187078;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
  }
  
  .title-no-3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #187078;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
  }

  .title-no-5 {
    font-size: 3rem;
    font-weight: bold;
    color: #187078;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
  }
    .title-no-6 {
    font-size: 2rem;
    font-weight: bold;
    color: #187078;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
  }
  
  .title-no-4 {
    font-size: 1rem;
    font-weight: bold;
    color: #187078;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
  }
  
  .text-small {
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 1.2;
  }
  
  .tag.is-custom-success,
  .button.is-custom-success {
    background-color: #187078 !important;
    color: white !important;
  }
  
  .tag.is-custom-danger,
  .button.is-custom-danger {
    background-color: #A53826 !important;
    color: white !important;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* SCROLLABLE PELANGGAN */
  .scrollable-list {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 8px;
    scrollbar-width: thin;
    scrollbar-color: #187078 #e0e0e0;
  }
  
  .scrollable-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollable-list::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
  }
  
  .scrollable-list::-webkit-scrollbar-thumb {
    background-color: #187078;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
  }  